name: Loot Baba Deals Bot

on:
  schedule:
    - cron: "0 * * * *"   # প্রতি ঘন্টায় একবার
  workflow_dispatch:

jobs:
  post-deal:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python bot.py
